{% extends "_base.html" %}

{% block content %}
<div class="flex items-center justify-center flex-col gap-2 h-full">
    <h1 class="font-rubik font-bold text-3xl tracking-tighter">About this Project</h1>
    <p class="font-rubik text-sm tracking-tighter text-center">I made this project to refine my skills using django only no other framework. It was a great journey of building this, debugging errors and learning at the top. This project is full made from sratch by me @Honey Paptan. I used Django templates for the frontend. I hope you like it.</p>
</div>
{% endblock content %}
